<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>

<nav class="navbar">

    <a asp-controller="Home" asp-action="Index" class="index-link">
        <div class="logo">CE Web</div>
    </a>

    <div class="nav_auth">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="profile-dropdown">

            <button class="button_auth" onclick="toggleProfileMenu(event)">
                @User.Identity.Name
            </button>

            <div id="profileMenu" class="profile-menu">

                <a asp-controller="User" asp-action="Profile">
                    My Profile
                </a>

                <form method="post" asp-controller="Auth" asp-action="Logout">
                    <button type="submit">Logout</button>
                </form>

            </div>

        </div>
    }
    else
    {
        <a asp-controller="Auth" asp-action="Login">
            <button class="button_auth">Log in</button>
        </a>

        <a asp-controller="Auth" asp-action="Signup">
            <button class="button_auth">Sign Up</button>
        </a>
    }
    
    </div>
</nav>

<!-- เนื้อหาของแต่ละหน้า -->
@RenderBody()


<script src="~/js/index.js"></script>

</body>
</html>