@{
    ViewData["Title"] = "Profile";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <div class="profile-page-wrapper">
        <div class="profile-section">
            <img src="cat.jpg" alt="cat" class="profile_img"/>
            <h1 class="username">@User.Identity.Name</h1>
        </div>
        <h2 class="section-title">กิจกรรมที่ลง</h2>
        <div class="profile-container">
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
        </div>
        <h2 class="section-title">กิจกรรมที่สร้าง</h2>
        <div class="profile-container">
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
            <a href="detail.html" class="profile_activity_card_link">
                <div class="activity_card">
                    <img src="cat.jpg" alt="cat" class="activity_img" />
                    <div class="activity_info">
                    <h3>Activity Name</h3>
                    <p>Description Activity Card...</p>
                    <span class="status status_open">Status: Open</span>
                    </div>
                </div>
            </a>
        </div>
        
    </div>

    <a asp-controller="Home" asp-action="Index" class="close-button">X</a>

    <script src="~/js/index.js"></script>
</body>
</html>