.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
}

.nav_auth {
    display: flex;
    gap: 10px;
    
}


.activity_img{
    width: 50%;
}
