body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
}

.nav_auth {
    display: flex;
    gap: 10px;
    
}


.search_section {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.search_input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.container {
    padding: 20px;
}

.activity_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-items: center;
}


.activity_card {
    width: 80%;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 70px;
}
.activity_card_link {
    text-decoration: none; 
    color: inherit;        
    display: flex;
    justify-content: center;        
    width: 100%;
}

.activity_img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.detail_img{
    width: 50%;
}

.activity_info {
    padding: 15px;
}


.status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.8rem;
    font-weight: bold;
}

.status_open { background-color: #d4edda; color: #155724; }
.status_full { background-color: #fff3cd; color: #856404; }
.status_close { background-color: #f8d7da; color: #721c24; }